@page "/bikedata"
@using CityBikeStatistics.Shared
@inject HttpClient Http

<h1>Bike data</h1>

@if (_cityBikeStations == null) {
  <p><em>Loading...</em></p>
} else {
  <div class="row">
    <div class="col-4">
      <table class="table">
        <thead>
          <tr>
            <th>Station name</th>
            <th>Departures</th>
            <th>Returns</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var station in _cityBikeStations) {
            <tr class="@(station.StationId == _selectedStation ? "table-active" : "")">
              <td>@station.StationName</td>
              <td>@station.Departures</td>
              <td>@station.Returns</td>
              <td><button class="btn" @onclick="() => GetStationData(station.StationId)">Show</button></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <StationData CityBikeStationData="_cityBikeData"></StationData>
    </div>
  </div>
}

@code {
  private CityBikeDataContract[] _cityBikeData = new CityBikeDataContract[0];
  private CityBikeStationOverview[] _cityBikeStations;
  private int _selectedStation;

  protected override async Task OnInitializedAsync() {
    _cityBikeStations = await Http.GetFromJsonAsync<CityBikeStationOverview[]>("CityBikeData/Overview");
  }

  private async Task GetStationData(int station) {
    _selectedStation = station;
    _cityBikeData = await Http.GetFromJsonAsync<CityBikeDataContract[]>($"CityBikeData/DataByStation/{station}");
  }
}
